<div class="playlists-container">
  <!-- Playlists grid -->
  <div class="grid">
    @for (playlist of playlists; track playlist.id) {
      <div
        class="playlist-card"
        (click)="onPlaylistClick(playlist)"
      >
        <img [src]="playlist.picture_medium" [alt]="playlist.title"/>
        <div class="playlist-title">{{ playlist.title }}</div>
      </div>
    }
  </div>

  <!-- Loading State -->
  @if (isLoading) {
    <div class="loading">
      Loading...
    </div>
  }

  <!-- Load Mode button -->
  @if (nextUrl && !isLoading) {
    <button (click)="loadMore()">
      Load More
    </button>
    <!-- Testing primeNG, doesn't seem to work yet -->
    <p-button label="Load More (primeng)" (click)="loadMore()"/>
  }
</div>
