<div class="playlists-container">
  <!-- Playlists grid -->
  <div class="grid">
    @for (playlist of playlists; track playlist.id) {
      <p-card (click)="onPlaylistClick(playlist)" class="playlist-card">
        <img [src]="playlist.picture_medium" [alt]="playlist.title" class="w-full border-round shadow-2"/>
        <p>{{ playlist.title }}</p>
      </p-card>

    }
  </div>

  <!-- Loading State -->
  @if (isLoading) {
    <div class="flex justify-content-center align-items-center h-screen">
      <p-progressSpinner/>
    </div>
  }

  <!-- Load More button -->
  @if (nextUrl && !isLoading) {
    <div class="flex justify-content-center">
      <p-button
        label="Load More"
        icon="pi pi-angle-double-down"
        (click)="loadMore()"
      />
    </div>
  }
</div>
