<div class="playlist-details-container">
  <!-- Loading State for Playlist Details -->
  @if (isLoadingDetails) {
    <p-progressSpinner />
  }
  <!-- Playlist Details -->
  @if (!isLoadingDetails && playlist) {
    <div class="header">
      <img [src]="playlist.picture_medium" [alt]="playlist.title"/>
      <div class="header-info">
        <h1>{{ playlist.title }}</h1>
        <p>By {{ playlist.creator.name }}</p>
        <p>Duration: {{ formattedTotalDuration }}</p>
        <p>Tracks: {{ tracks.length }}</p>
        <p *ngIf="playlist.description">{{ playlist.description }}</p>
      </div>
    </div>
  }

  <!-- Tracks List -->
  @if (tracks.length > 0) {
    <p-table [value]="tracks" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Duration</th>
        </tr>
      </ng-template>
      <ng-template #body let-track let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ track.title }}</td>
          <td>{{ track.artist.name }}</td>
          <td>{{ formatTrackDuration(track.duration) }}</td>
        </tr>
      </ng-template>
    </p-table>
  }

  <!-- Loading State for Tracks -->
  @if (isLoadingTracks) {
    <div class="loading">
      Loading tracks...
    </div>
  }

  <!-- No Tracks Message -->
  @if (!isLoadingTracks && tracks.length === 0) {
    <div class="no-tracks">
      No tracks available in this playlist.
    </div>
  }
</div>
