<div class="playlist-details-container">
  <p-accordion value="0">
    <p-accordion-panel value="0">
      <p-accordion-header>
        <p-button icon="pi pi-arrow-left" label="Back" class="play-button" (click)="goBack()"/>
        <p style="color: #34d399">Playlist details</p>
      </p-accordion-header>
      <p-accordion-content>
        <!-- Loading State for Playlist Details -->
        @if (isLoadingDetails) {
          <div class="flex justify-content-center">
            <p-progressSpinner/>
          </div>
        }
        <!-- Playlist Details -->
        @if (!isLoadingDetails && playlist) {
          <div class="header">
            <img [src]="playlist.picture_medium" [alt]="playlist.title"/>
            <div class="header-info">
              <h1 style="color: #34d399">{{ playlist.title }}</h1>
              <p>By {{ playlist.creator.name }}</p>
              <p>Duration: {{ formattedTotalDuration }}</p>
              <p>Tracks: {{ tracks.length }}</p>
              <p *ngIf="playlist.description">{{ playlist.description }}</p>
            </div>
          </div>
        }
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>


  <!-- Tracks List -->
  @if (tracks.length > 0) {
    <p-table [value]="tracks" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th style="color: #34d399">#</th>
          <th style="color: #34d399">Title</th>
          <th style="color: #34d399">Artist</th>
          <th style="color: #34d399">Duration</th>
        </tr>
      </ng-template>
      <ng-template #body let-track let-i="rowIndex">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ track.title }}</td>
          <td>{{ track.artist.name }}</td>
          <td>{{ formatTrackDuration(track.duration) }}</td>
        </tr>
      </ng-template>
    </p-table>
  }

  <!-- Loading State for Tracks -->
  @if (isLoadingTracks) {
    <div class="flex justify-content-center">
      <p-progressSpinner/>
    </div>
  }

  <!-- No Tracks Message -->
  @if (!isLoadingTracks && tracks.length === 0) {
    <div class="no-tracks">
      No tracks available in this playlist.
    </div>
  }
</div>
